name: CD - Runner

on:
  workflow_run:
    workflows: ["CI - Tests"]
    types: [completed]

permissions:
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4


      - name: Deploy to /var/www/eval
        run: |
          mkdir -p /var/www/eval
          cp -r ./* /var/www/eval/
          rm -rf /var/www/eval/.git /var/www/eval/.github || true

