name: CD-RUNNER

on:
  workflow_run:
    workflows: ["CI - Tests"]   # <= EXACTEMENT le name: du CI
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
